.sticky-content {
  display: flex;
  grid-column-start: auto;
  grid-row-start: 2;
  justify-content: center;
}

.taskcard {
  border-style: solid;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% auto 20%;
  height: 350px;
  width: 350px;
}

.task-footer {
  display: grid;
  grid-column-start: auto;
  grid-row-start: 3;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 33% auto 33%;
}

.type {
  grid-column-start: 1;
  grid-row-start: 2;
  text-align: start;
  padding-left: 10px;
}

.assignee {
  grid-column-start: 3;
  grid-row-start: 2;
  text-align: end;
  padding-right: 10px;
}

.title {
  text-align: center;
}
